<template>
<v-row justify="center">
    <v-dialog v-model="dialog" width="600px">
      <template v-slot:activator="{ on, attrs }">
  <v-btn
    :style="styles"
    color="primary"
    fab
    fixed
    rel="noopener"
    right
    target="_blank"
    top
    v-bind="attrs"
    v-on="on"
  >
    <v-icon>
      mdi-chat-processing-outline
    </v-icon>
  </v-btn>
      </template>
       <v-card>
        <v-card-title>
          <span class="headline">Hi! Welcome to Web Yumtech!</span>
        </v-card-title>
        <v-card-text>ขอบคุณที่เข้ามา Web Yumtech!</v-card-text>
      </v-card>
    </v-dialog>
</v-row>
</template>


<script>
  export default {
    name: 'CoreCta',
    data () {
      return {
        dialog: false,
      }
    },

    computed: {
      styles () {
        return {
          marginTop: `${this.$vuetify.application.top}px`,
        }
      },
    },
  }
</script>
