<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <slot />
      </v-col>

      <feed-card
        v-for="(article, i) in paginatedArticles"
        :key="article.id"
        :size="layout[i]"
        :value="article"
      />
    </v-row>

    <v-row align="center">
      <v-col cols="3">
        <base-btn v-if="page !== 1" class="ml-0" square title="Previous page" @click="page--">
          <v-icon>mdi-chevron-left</v-icon>
        </base-btn>
      </v-col>

      <v-col class="text-center subheading" cols="6">PAGE {{ page }} OF {{ pages }}</v-col>

      <v-col class="text-right" cols="3">
        <base-btn
          v-if="pages > 1 && page < pages"
          class="mr-0"
          square
          title="Next page"
          @click="page++"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </base-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// Utilities
// import { mapState } from "vuex";

export default {
  name: "Feed",

  components: {
    FeedCard: () => import("@/components/FeedCard")
  },

  data: () => ({
    layout: [2, 2, 2, 2, 3, 3, 3, 3, 3, 3],
    page: 1,
    articles: []
  }),
  mounted(){
    this.getData();
  },
  methods:{
    getData: async function() {
      let xdata;
      let url = process.env.VUE_APP_DATAAPI
      
      xdata = await axios.get(url+'contents/', {
        query: {
          blog: this.$route.query.id ? this.$route.query.id : undefined
        }
      })
      this.articles = xdata.data
      // console.log(xdata)
    } 
  },
  computed: {
    // ...mapState(['articles']),
    pages() {
      return Math.ceil(this.articles.length / process.env.VUE_APP_PAGE);
    },
    paginatedArticles() {
      const start = (this.page - 1) * process.env.VUE_APP_PAGE;
      const stop = this.page * process.env.VUE_APP_PAGE;

      return this.articles.slice(start, stop);
    }
  },

  watch: {
    page() {
      window.scrollTo(0, 0);
    },
    '$route.query.id'(value) {
        window.scrollTo(0, 0);
        console.log('fetch')
    }
  }
};
</script>
