<template>
  <v-col
    cols="12"
    :md="size === 2 ? 6 : size === 3 ? 4 : undefined"
  >
  <v-hover v-slot:default="{ hover }">
    <v-card
      class="mx-auto"
      color="grey lighten-4"
      max-width="600"
    >
      <v-img
        :aspect-ratio="16/9"
        :src= ximage
      >
      <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out orange darken-2 v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
            {{ value.title_heading }}
          </div>
        </v-expand-transition>
        </v-img>
        <v-card-text
        class="pt-6"
        style="position: relative;"
      >
        <v-btn
          absolute
          color="orange"
          class="white--text"
          fab
          large
          right
          top
          @click.stop="join(value.id)"
        >
          <v-icon>mdi-book-open-variant</v-icon>
        </v-btn>
        <v-row
          v-if="!value.prominent"
          class="fill-height text-light ma-0"
        >
          <v-col cols="12">
            <h3 class="title font-weight-bold mb-2">
              {{ value.title_description }}
            </h3>
            <hr>
            <div class="caption">
              {{ value.shot_content }} <br/><hr> Date Post: {{value.created_at|datesimple}}
              <br/>by: {{value.user_post}}
            </div>
           
          </v-col>
        </v-row>
        </v-card-text>
    </v-card>
  </v-hover>
  </v-col>
</template>

<script>
var moment = require("moment");
  export default {
    name: 'FeedCard',

    filters: {
    datesimple: function(value) {
      if (!value) return "";
      return moment(value).format("MMMM Do YYYY");
    }
  },

    props: {
      size: {
        type: Number,
        required: true,
      },
      value: {
        type: Object,
        default: () => ({}),
      },
    },
    computed: {
      ximage() {
      return process.env.VUE_APP_IMGHOST+this.value.himage.url
       //return 'http://172.18.1.75:1337/uploads/sea_turtle_camp_and_crocodile_adventure5_451a4f11bd.jpg';
    },
    },
    methods: {
      join (id) {
      // console.log(title)
      this.$router.push({
        path: "/show/",
        name: "Show",
        query: { id },
        //params: { title: this.$route.params.title }
      })
    }
  }
  }
</script>

<style>

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}

.v-image__image {
  transition: .3s linear;
}
</style>
