<template>
  <v-container class="pa-0">
    <base-subheading>Newest Blog Posts</base-subheading>

    <v-row
      v-for="content in contents.slice(0, 3)"
      :key="content.id"
      align="center"
      class="mb-2"
    >
      <v-col class="d-flex" cols="12">
        <v-chip
          @click.stop="join(content.id)"
          class="mx-0 mb-2 text-uppercase"
          color="white"
        >
          <v-img
            :src= "ximage+content.himage.url"
            class="mr-3"
            height="36"
            max-width="36"
          />
          <div>
            <div class="subheading">
              {{ content.title_heading }}
            </div>

            <div class="caption">
              {{ content.title_description }}
            </div>
          </div>
        </v-chip>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// Utilities
// import { mapState } from 'vuex'

export default {
  name: "NewestPosts",

  data: () => ({
    contents: [],
  }),

  mounted() {
    // console.log(this.$route.query.id)
    this.getData();
    console.log(this.contents);
  },

  computed: {
     ximage() {
    return process.env.VUE_APP_IMGHOST
     },
  },

  methods: {
    getData: async function() {
      let url = process.env.VUE_APP_DATAAPI;

      const res = await axios.get(url + "contents");
      this.contents = res.data;
      // console.log(xdata)
    },
    join(id) {
      // console.log(title)
      this.$router.push({
        name: "Show",
        query: { id },
      });
    },
  },
};
</script>
