<template>
  <div class="container">
    <v-row>
      <v-col cols="12" md="9">
         <v-card class="center" color="blue-grey lighten-5">
          <v-card-title > Content: {{content.title_heading}}</v-card-title>
         </v-card>
        <v-card class="d-inline-flex mx-auto">
          <v-card-text>
            <markdown-it-vue class="md-body" :content="content.full_content" />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="6" md="3">
        <v-card class="d-inline-block mx-auto">
          <v-container>
            <v-card-text>
              <tags />
            </v-card-text>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from "@/components/HelloWorld.vue";
var moment = require("moment");
import MarkdownItVue from "markdown-it-vue";
import "markdown-it-vue/dist/markdown-it-vue.css";
import tags from "../components/Tags.vue";
export default {
  name: "Show",
  components: {
    MarkdownItVue,
    tags,
  },
  data: () => ({
    content: { title_heading: null },
  }),
  methods: {
    async init() {
      let res = await axios({
        method: "get",
        url: process.env.VUE_APP_DATAAPI + "contents/" + this.$route.query.id,
      });
      this.content = res.data;

      //console.log(res.data);
    },
  },
  mounted() {
    this.init();
  },
};
</script>
