<template>
  <v-container class="pa-0">
    <base-subheading>Category</base-subheading>
    
    <v-btn
      v-for="(blog, i) in blogs"
      :key="i"
      class="mr-4 my-2"
      color="secondary"
      label
      small
      tag
      text-color="white"
      @click.stop="join(blog.id)"
    >
      {{ blog.name }}
    </v-btn>
   
  </v-container>
</template>

<script>
  // Utilities
  //import { mapGetters } from 'vuex'

  export default {
    name: 'Tags',
 
  data: () => ({
    blogs: [],
  }),
     
   mounted(){
    // console.log(this.$route.query.id)
    this.getData();
    console.log(this.blogs)
  },
  methods:{
    getData: async function() {

      let url = process.env.VUE_APP_DATAAPI
      
      const res = await axios.get(url+'blogs');
      this.blogs = res.data
      // console.log(xdata)
    }, 
     join (id) {
      // console.log(title)
      this.$router.push({
        path: '/blog/',
        name: 'Blog',
        query: { id }
      })
    }
  },
  }
</script>
